#play {
    position: absolute;
    top: 0px;
    left: 0px;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("lego_league_mission_board_top_view.png");
    background-size: contain;
    height: 644px;
    width: 987px;
    z-index: -1;
}

#init {
    position: absolute;
    top: 494px; /* 644 - 50 */
    left: 0px;
    width: 120px;
    height: 73px;
    background-image: url("robot_topview.png");
    background-size: contain;
}

#slider-container {
    position: absolute;
    top: 5px;
    left: 487px;
    height: 30px;
    width: 500px;
}

#slider-container > div {
    margin: 5px;
    float: left;
}

#slider {
    width: 300px;
}

#slider-text {
    width: 100px;
}

#steps-container {
    position: absolute;
    padding: 10px;
    top: 0px;
    left: 987px;
    height: 100%;
    width: 300px;
}

#template-container > div {
    display: none; 
}

#step-template {
    border: 1px solid black; 
    position: relative;
    margin-bottom: 10px;
}

#steps-list {
    margin: 10px;
}

#step-template > button {
    position: absolute;
    top: 2px;
    right: 2px;
}
